<div class="container">
    <form [formGroup]="emailPushForm" (submit)="submitedForm()">
        <div>
            <label class="form-label" for="authorname">Email</label>
            <input type="text" class="form-control" placeholder="Please enter email" [class.is-invalid]="emailPushForm.get('email').invalid && emailPushForm.get('email').touched " formControlName="email" name="" id="authorname">
            <span style="color: red;" *ngIf="!emailPushForm.get('email').valid && emailPushForm.get('author').touched ">Please enter valid author name</span>
        </div>
        <div class="mt-2">
            <button class="btn btn-primary" type="submit" [disabled]="!emailPushForm.valid">Send Notification</button>
        </div>

    </form>
</div>




<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" routerLink="addbook">Add Book</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="showbooks">Show Books</a>
    </li>
</ul>
<router-outlet></router-outlet>